body {
    margin: 0;
    font-family: Arial;
    background: #020617;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #000;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 40px;
    margin-right: 10px;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* BUTTON */
.primary {
    padding: 12px 25px;
    background: #22c55e;
    border: none;
}

/* SECTION */
.section {
    padding: 60px;
    text-align: center;
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}