body {
    margin: 0;
    font-family: Arial;
    background: #020617;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #000;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 40px;
    margin-right: 10px;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-logo {
    width: 180px;
}

/* BUTTONS */
.primary {
    background: #22c55e;
    padding: 10px 20px;
    border: none;
    margin: 5px;
}
.secondary {
    background: transparent;
    border: 1px solid #22c55e;
    color: white;
    padding: 10px;
}

/* SECTIONS */
.section {
    padding: 60px;
    text-align: center;
}
.dark { background: #020617; }
.light { background: #111827; }

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}